.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  padding: 5rem;
}

body {
  background-color: #131b13;
}

h1 {
  margin: 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #0b4485;
  font-size: 4rem;
  color: #a8cc4e;
  padding-top: 5%;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 30%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.refresh{
  background-color: #a8cc4e;
  color: black;
  border: 2px solid black; /* Green */
  padding: 1rem;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: darkgreen;
  border-radius: 20%;
}


.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.refresh span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.refresh:hover span {
  padding: 5px;
}

